.strategy-list-side {
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 78px;
	overflow: hidden;
}
.strategy-list-type {
	height: 28px;
	overflow: hidden;
	text-align: center;
	padding-bottom: 40px;
}
.strategy-list-type li {
	display: inline-block;
	padding-right: 10px;
}
.strategy-list-type li a {
	display: inline-block;
	height: 28px;
	line-height: 28px;
	color: #333;
	padding: 0 20px;
	background: #fff;
}
.strategy-list-type li.active a {
	color: #fff;
	background: #8dc21c;
}
.strategy-list {
	overflow: hidden;
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 60px;
}
.strategy-list li {
	height: 158px;
	padding: 31px 40px 31px 160px;
	position: relative;
	overflow: hidden;
	border-bottom: #e4e4e4 solid 1px;
}
.strategy-list li a {
	display: block;
}
.strategy-list li:hover {
   background: #8dc21c;
   border-bottom: #8dc21c solid 1px;
   color: #fff;	
}
.strategy-list li .date {
	position: absolute;
	left: 20px;
	top: 78px;
	height:64px;
	line-height: 64px;
	border-right: #b7b7b7 solid 1px;
	padding-right: 25px;
	color: #333;
	font-family: arial;
}
.strategy-list li:hover .date {
	border-right: #a8d152 solid 1px;
	color: #fff;
}
.strategy-list li .date em {
	font-size: 48px;
}
.strategy-list li img {
	width: 258px;
	height: 158px;
	padding: 0 30px;
	float: left;
}
.strategy-list li dl {
	overflow: hidden;
}
.strategy-list li dt {
	font-size: 18px;
	color: #444;
	line-height: 20px;
	background: url(../image/strategy-line.png) no-repeat left bottom;
	padding-bottom: 20px;
}
.strategy-list li:hover dt {
	color: #fff;
	background: url(../image/strategy-line-hover.png) no-repeat left bottom;
}
.strategy-list li dd.txt {
	color: #666;
	line-height: 26px;
	height: 52px;
	overflow: hidden;
	padding-top: 17px;
}
.strategy-list li:hover dd.txt {
	color: #fff;
}
.strategy-list li .green-btn {
	margin-top: 17px;
	background: transparent;
	height: 30px;
	line-height: 30px;
}
.strategy-list li:hover .green-btn {
	color: #fff;
	border: #afd461 solid 1px;
}